.light-mode {
  background:linear-gradient(to bottom right,#f1f8e9, #cff0d2);
  color: #333;
  transition: background-color 0.5s, color 0.5s;
}

.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
  transition: background-color 0.5s, color 0.5s;
}
.image img{
        width: auto;
        background-size: auto;
         /* filter: grayscale(1); */
        border-radius: 14px; 
        transition: transform 0.3s  
}
.image img:hover{
    transform: translateX(-10px);
}
.desc{
    margin-top:5%;
}
