.light-mode {
  background:linear-gradient(to bottom right,#f1f8e9, #cff0d2);
  color: #333;
  transition: background-color 0.5s, color 0.5s;
}

.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
  transition: background-color 0.5s, color 0.5s;
}
.filter-section {
  display: flex;
  gap: 12px;
  margin: 20px 0;
  justify-content: flex-start;
}

.blog-card {
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.home-container {
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #e9ecef; Soft background for a modern look */
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-weight:bolder;
  color: #4caf50; /* Darker text for better readability */
  font-family: 'Playfair Display', serif;
  font-size: 3rem; /* Larger title */
}

.filter-input {
  margin-right: 8px;
  width: 300px; /* Fixed width for the input */
  border-radius: 20px; /* Rounded input */
  border: 1px solid #4CAF50; /* Green border */
}

.filter-input .MuiOutlinedInput-notchedOutline {
  border-color: #4CAF50; /* Green border for the input */
}

.filter-input:focus {
  border-color: #388E3C; /* Darker green on focus */
}

.blog-title {
  font-weight: bold; /* Bold title */
  color: #4CAF50; /* Primary color for titles */
  font-size: 1.5rem; /* Title size */
}

.blog-content {
  color: #666; /* Lighter text for content */
  flex-grow: 1; /* Allow content to grow */
}

.blog-tag {
  margin-right: 4px;
  margin-bottom: 4px;
  background-color: #4CAF50; /* Tag background color */
  color: white; /* Tag text color */
  border-radius: 12px; /* Rounded tags */
  padding: 5px 10px; /* Padding for tags */
  font-size: 0.8rem; /* Smaller font for tags */
}

/* Ensure consistent card width */
.grid-item {
  display: flex;
  justify-content: center; /* Center cards in grid */
}

@media (min-width: 600px) {
  .blog-card {
    width: 100%; /* Full width on larger screens */
    max-width: 350px; /* Max width for cards */
  }
}

@media (max-width: 600px) {
  .blog-card {
    width: 100%; /* Full width on smaller screens */
  }
}
